.App {
  padding: 0px;
  margin: 0;
  text-align: center;
  background: #f5f0ff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 26vmin;
  pointer-events: none;
  margin: 50px;
}

.App-header {
  background-color: #F5F0FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.dark {
  background: #24252a;
}

.flex {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #ff0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a:hover {
  color: #fff;
}
a:focus {
  color: #fff;
}

a-dark {
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a-dark:hover {
  color: #fff;
}
a-dark:focus {
  color: #fff;
}

a {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #ff0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
a:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #FF0072;
  z-index: -2;
}
a:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
a:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom-button {
  position: absolute;
  bottom: 50px;
  color: white;
}